<% provide(:title, 'Funkalab') %>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>

</div>

<div class="armata">
	<div id="commingsoon">
		<%= image_tag 'funkalab.png' %>
		<p>
			Funkalab crea herramientas para ayudar a <i>creativos</i> a conectarse y desarrollar sus <i>proyectos.</i> Actualmente estamos trabajando.
		</p>
		<p>
			<strong>Volvemos pronto.</strong>
		</p>
		<p>
			<small>Búscanos:
			<br/>hola@funkalab.com
			<br/>@funkalab
			<br/>facebook.com/funkalab
		</small>
		<p>	
			<div class="funkabutton">
				<a href="hello@funkalab.com">Escríbenos aquí</a>
			</div>
		</p>
	</div>
<!--Typography divider. Don't erase.!-->
</div>
<!--This one close the mirror created. Don't erase.!-->
<div class="container">




